# 15. Lambda Functions in Python

 * __A Lambda function is a small anonymous funcitons.__
 * __A Lambda function can take any number of arguments, but can only have one expression.__
 * __The expression is eveluated and returned.__
 * __Lambda functions can bu used wherever function objects are required.__
 * __Ldmbda Expression(or lambda functions) are essentially blocks of code that can be assigned to variable, passed as an arguments, or returned from a funciton call, in Language that support high-order functions.__
 * __The main role of lambda funcrion is better described in the scenarios when we employ them anonymously inside another functions.__
 * __n Python, the Lambda function can be utilized as an arguements to ther high-order functions as an arguement..__
 * __Lambda function in Python__
    * __1. Syntax:__
       * __Normal Functions__
       * __Anonymous Functions__
    * __2.Usages__
       * __Lambda with filters()__
       * __Lambda with map()__
       * __Lambda with reduce()__
       * __Lambda with sorted()__
       * __Lambda with apply()__
    * __3.Common Errors__
       * __SyntaxError__
       * __TypeError__

In [1]:
def func(x):
    return x+6

func(10)

16

In [2]:
(lambda y:y+6)(10)

16

In [4]:
# Exponent

def expo(x,y):
    return x**y

expo(2,5)

32

In [5]:
(lambda x,y:x**y)(2,5)

32

In [7]:
# write a above program using user input

def func():
    x=int(input('Enter first number:'))
    y=int(input('Enter second number:'))
    z=x**y
    return z


func()

Enter first number: 2
Enter second number: 3

8

In [19]:
# using lambda 
x=int(input('Enter first number:'))
y=int(input('Enter second number:'))
z=(lambda a,b:a**b)(x,y)
z

Enter first number: 10
Enter second number: 2

100

In [11]:
z

1000000000000000

In [1]:
# 1. Write a Python program to count the even number and odd numbers in a given array of integers using lambda function and loop.
# array_nums=[10,20,30,50,25,26,78,79,45,62,53,51,1001,102,103]

#Rupali
# 1. WAP to count the even numbers and odd numbers in a given array of integers using lambda function and for loop.

array_nums = [10,20,30,50,25,26,78,79,45,45,62,53,51,1001,102,103]

#For loop

even = []
odd = []
for i in array_nums:
    if i % 2 == 0:
        even.append(i)
    else:
        odd.append(i)

print("\nEven numbers is given array are :",len(even))
print("\nOdd numbers is given array are :",len(odd))

Even numbers is given array are : 8

Odd numbers is given array are : 8

In [2]:
#Rupali
# 1. WAP to count the even numbers and odd numbers in a given array of integers using lambda function and for loop.
# Lambda
array_nums = [10,20,30,50,25,26,78,79,45,45,62,53,51,1001,102,103]


even_num = len(list(filter(lambda x: (x % 2 == 0), array_nums)))
odd_num = len(list(filter(lambda x: (x % 2 != 0), array_nums)))

print("\nNumber of even numbers in given array: ", even_num)
print("\nNumber of odd numbers in given array: ", odd_num)

Number of even numbers in given array:  8

Number of odd numbers in given array:  8

In [9]:
# Write a Python program to filter a given list to determine if the values in the list have a length of 6 using lambda funciton.
# using loop and lambda.
# weekdays=['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']

#Rupali
#WAP to filter the given list to determine if the values in the list have length of 6 using lambda 

weekdays = ['Monday', 'Tuesday',' Wednesday', 'Thursday','Friday','Saturday']

#Using for loop
filtered_list = []

for i in weekdays:
    if len(i) == 6:
        filtered_list.append(i)
print("\nThe value from list having length 6 are : ",filtered_list)

The value from list having length 6 are :  ['Monday', 'Friday']

In [8]:
#Rupali
weekdays = ['Monday', 'Tuesday',' Wednesday', 'Thursday','Friday','Saturday']

#using lamda

filter_list = list(filter(lambda x:len(x) == 6 , weekdays))
print("\nThe value from list having length 6 are : ",filter_list)

The value from list having length 6 are :  ['Monday', 'Friday']

In [5]:
import datetime

In [7]:
now=datetime.datetime.now()
now

datetime.datetime(2024, 4, 11, 19, 12, 42, 15654)

In [10]:
# Write a python program to extract year,month,date and time using Lambda.

#Rupali
# WAP to extract year , month, date , time using lambda function

import datetime

now = datetime.datetime.now()
print(now)

year = lambda x:x.year
print(year(now))

month = lambda x:x.month
print(month(now))

day = lambda x:x.day
print(day(now))

time = lambda x:x.time()
print(time(now))

2024-04-11 19:24:49.878064
2024
4
11
19:24:49.878064

In [1]:
# Write a program to find the numbers divisible by nineteen or thirteen from a list of numbers using lambda.
# nums=[19,65,57,39,152,639,121,44,90,190]

# Lambda Filter()

 * __A higher-order function__
 * __Syntax: filter(function,sequence)__
    * __It applies function to each element of sequence and returns for which the function returns true.__
 * __filter returns a subset of sequence__
    * __to generate the actual list, we need to apply list()__

In [2]:
def isDiv3(x):  # this function check the number is divisible by 3 or not?
    return x%3==0

def isEven(x):  # this function check the numbers is divisible by 2 or not?
    return x%2==0

x=isEven(11)
x

False

In [6]:
list(filter(isEven, range(0,31)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [10]:
list(filter(isDiv3, range(0,50)))

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [14]:
def isCaps(s):
    return 'A' <= s[0] <='Z'  # capitalize() Title() --- 

# y=['Cat','Mat','rat']
x=isCaps('Cat')
x

True

In [19]:
tup=list(filter(isCaps,('Uday Rasal','Akshay Kaale','dixit','rakesh','Zebra')))
print(tup)
print(type(tup))

['Uday Rasal', 'Akshay Kaale', 'Zebra']
<class 'list'>

In [ ]:
def isEven(x):
    return x%2==0

In [19]:
list(filter(isEven,range(31)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [20]:
list(filter(lambda x:(x%2==0),range(31)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [31]:
list_1=[10,20,30,50,60,45]   # form user input  

def mult6():
    emp_list=[]
    new_list=[]
    x=int(input('Enter your range:'))
    for i in range(x):
        y=int(input(f'Enter your range{i}:'))
        emp_list.append(y)
    for a in emp_list:
        z=a*6
        new_list.append(z)
    print(emp_list,new_list)


mult6()

Enter your range: 3
Enter your range0: 10
Enter your range1: 20
Enter your range2: 30

[10, 20, 30] [60, 120, 180]

In [ ]:
list(filter(mult6,))

In [49]:
 x=int(input('Enter your range:'))
def mult6(s):
    emp_list=[]
    new_list=[]
   
    for i in range(x):
        y=int(input(f'Enter your range{i}:'))
        emp_list.append(y)
    for a in emp_list:
        z=a*6
        new_list.append(z)
    print(emp_list,new_list)


mult6(x)

Enter your range: 2
Enter your range0: 10
Enter your range1: 20

[10, 20] [60, 120]

In [47]:
a1=int(input('Enter your range:'))
list(filter(mult6,range(a1)))

Enter your range: 2
Enter your range0: 10
Enter your range1: 20

[10, 20] [60, 120]

KeyboardInterrupt: Interrupted by user

In [97]:
# find the square of number from user input (function and lambda with filter.)

x=int(input('Enter your range:'))

def square(x):
    
    sqr_list=[]
    for i in range(1,x+1):
        y=i**2
        sqr_list.append(y)
    print(sqr_list) 

    
square(x)

Enter your range: 10

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [103]:
a2=int(input('Enter your range:'))
a1=list(filter(square,range(1,a2+1)))
a1

Enter your range: 5

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]

[]

In [98]:
def square1(x):
    return x**2

In [99]:
y=int(input('Enter any number:'))
list(map(square1,range(y)))

Enter any number: 5

[0, 1, 4, 9, 16]

In [101]:
def sqr(x):
    return x**2

In [102]:
a3=int(input('Enter any number:'))
list(map(sqr,range(a3)))

Enter any number: 5

[0, 1, 4, 9, 16]

# map() functions

 * __A higher-order function__
 * __Syntax: map(function,sequence))__
 * __applies function to each element of sequence and returns the result.__

In [30]:
m1,m2,m3 =input().split()

print(type(m1))
print(type(m2))
print(type(m3))

y=eval(m1)
print(type(y))

 12 15 14

<class 'str'>
<class 'str'>
<class 'str'>
<class 'int'>

In [34]:
m1,m2,a3=list(map(float, input().split()))
print(type(m1))
print(type(m2))
print(type(a3))

 14 15 16

<class 'float'>
<class 'float'>
<class 'float'>

In [41]:
a = [1,20,50,55,69,58,78,96,36,25,10]

def myfunc(a):
    if a%2!=0:
        return True
    else:
        return False

def square(a):
    return a**2

val=list(filter(myfunc,a))
print(val)

x=list(map(square,val))
print(x)

[1, 55, 69, 25]
[1, 3025, 4761, 625]

In [46]:
a1=[0,1,2,3,4,5,6,7,8,9,10]   # multiplication of 3
# square   maping 

def triple(x):
    return 3*x

def square(x):
    return x*x

list(filter(triple,a1))

x=list(map(triple,a1))
print(x)
map1=list(map(square,x))
print(map1)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
[0, 9, 36, 81, 144, 225, 324, 441, 576, 729, 900]

In [48]:
# Rupali
a1 = [0,1,2,3,4,5,6,7,8,9,10]

def mult_3(x):
    return x*3

d = list(map(mult_3,a1))
print("Multiplied by 3 : ",d)

def square(a):
    return a**2

e = list(map(square,d))
print("Squared list : ",e)

Multiplied by 3 :  [0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
Squared list :  [0, 9, 36, 81, 144, 225, 324, 441, 576, 729, 900]

# reduce()

# Required: from functools import reduce

# system: reduce(f,s)

 * __reduce, continually applies the function f(x,y) to the sequence s. It returns a single value.__

In [61]:
from functools import reduce
def add(x,y):
    return x+y


x=reduce(add,[47,11,42,13])
x

113

In [63]:
y=reduce(add,range(10+1))
y

55

In [65]:
reduce(add,['Just','Imagine',"Glacier",'Now!'])

'JustImagineGlacierNow!'

In [66]:
'Rupali'+'Gurav'

'RupaliGurav'

In [67]:
def mult(x,y):
    return x*y

def mystrey(n):
    return reduce(mult,range(1,n+1))

print(mystrey(4))

24

# Sorted Function in Lambda
 * __A simple ascending sort is very easy. Just call the sored() functions. It returns a new list.__

In [1]:
# arranged in ascending order using sorted function
x=[5,2,4,1,3,7]

y=sorted(x)

In [2]:
y

[1, 2, 3, 4, 5, 7]

In [3]:
# sort()

a=[5,2,3,4,8,9,10]
a.sort()
a

[2, 3, 4, 5, 8, 9, 10]

In [4]:
# Dictionary

students=[
    ('Uday Chopra','A',15),
    ('Isha Deol','B',12),
    ('Hrithik Roshan','B',10)
]
students

[('Uday Chopra', 'A', 15), ('Isha Deol', 'B', 12), ('Hrithik Roshan', 'B', 10)]

In [6]:
type(students[0])

tuple

In [7]:
type(students)

list

In [12]:
sorted(students,key=lambda students:students[2])

[('Hrithik Roshan', 'B', 10), ('Isha Deol', 'B', 12), ('Uday Chopra', 'A', 15)]

In [16]:
class person:
    def __init__(self,name,age, grade,gender):
        self.name=name
        self.age=age
        self.grade=grade
        self.gender=gender
    def __repr__(self):
        return repr((self.name,self.age,self.gender,self.grade))



obj=person('Srinivash','12','A','Male')
print(obj.name)
print(obj.age)
print(obj.grade)
print(obj.gender)

Srinivash
12
A
Male

In [19]:
student_obj=[
    person('Srinivash',12,'C','Male'),
    person('Srinivash',50,'A','Female'),
    person('Uday',12,'B','Transgender'),
    person('Srinivash',12,'A','Male'),
    person('Pallavi',40,'D','Female'),
]

In [29]:
sorted(student_obj,key=lambda person:person.age)

[('Srinivash', 12, 'Male', 'C'),
 ('Uday', 12, 'Transgender', 'B'),
 ('Srinivash', 12, 'Male', 'A'),
 ('Pallavi', 40, 'Female', 'D'),
 ('Srinivash', 50, 'Female', 'A')]

In [30]:
list1=[10,5,6,9,7,8]
print(list1)

[10, 5, 6, 9, 7, 8]

In [32]:
list1.sort()

In [33]:
list1

[5, 6, 7, 8, 9, 10]

In [34]:
list1.reverse()

In [35]:
list1

[10, 9, 8, 7, 6, 5]

In [36]:
list1=[10,5,6,9,7,8]

In [37]:
list1[::-1]
list1

[10, 5, 6, 9, 7, 8]

In [39]:
x='Shrinivas'
x[::-1]

'savinirhS'

In [45]:
class person: 
    def __init__(self, name,age, grade, gender): 
        self.name = name
        self.age = age
        self.grade = grade
        self.gender = gender
  
    def __repr__(self):
        return repr((self.name,self.age,self.grade,self.gender))
  
  
gfg = [
    person("Sakshi", 6,'b','female'), 
    person("Meera", 9,'c','male'), 
    person("Gita", 5,'d','female'), 
    person("Rupali", 4,'a','male'), 
    person("Meena", 3,'b','female')
] 
  

a = sorted(gfg, key=lambda x:x.age,reverse=True) 
print(a)

[('Meera', 9, 'c', 'male'), ('Sakshi', 6, 'b', 'female'), ('Gita', 5, 'd', 'female'), ('Rupali', 4, 'a', 'male'), ('Meena', 3, 'b', 'female')]

In [48]:
import pandas as pd

In [52]:
values=[('Uday',500,456123),('Shrinivas',499,789456)]

df=pd.DataFrame(values,columns=['Name','TotalMarks','Mobno'])
df

        Name  TotalMarks   Mobno
0       Uday         500  456123
1  Shrinivas         499  789456

In [1]:
import numpy

In [4]:
import pandas as pd

In [14]:
values_list=[[15,2.5,100],[20,4.5,50],[25,5.2,80],
            [45,5.8,48],[40,6.3,70],[41,6.4,90],
            [51,2.3,111]]

df=pd.DataFrame(values_list,columns=['Field_1','Field_2','Field_3'],index=['a','b','c','d','e','f','g'])
df

# using lambda apply function

   Field_1  Field_2  Field_3
a       15      2.5      100
b       20      4.5       50
c       25      5.2       80
d       45      5.8       48
e       40      6.3       70
f       41      6.4       90
g       51      2.3      111

In [16]:

# df=df.apply(lambda x:np.square(x) if x.name ='d' else x.axis=1)
# print(df)

df=df.apply(lambda x:x*3)
df

   Field_1  Field_2  Field_3
a       90     15.0      600
b      120     27.0      300
c      150     31.2      480
d      270     34.8      288
e      240     37.8      420
f      246     38.4      540
g      306     13.8      666

In [17]:
x=pd.read_csv('C:\\Users\\Admin\\Downloads\\indian_food.csv', encoding='Latin')
x

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East
...,...,...,...,...,...,...,...,...,...
250,Til Pitha,"Glutinous rice, black sesame seeds, gur",vegetarian,5,30,sweet,dessert,Assam,North East
251,Bebinca,"Coconut milk, egg yolks, clarified butter, all...",vegetarian,20,60,sweet,dessert,Goa,West
252,Shufta,"Cottage cheese, dry dates, dried rose petals, ...",vegetarian,-1,-1,sweet,dessert,Jammu & Kashmir,North
253,Mawa Bati,"Milk powder, dry fruits, arrowroot powder, all...",vegetarian,20,45,sweet,dessert,Madhya Pradesh,Central
254,Pinaca,"Brown rice, fennel seeds, grated coconut, blac...",vegetarian,-1,-1,sweet,dessert,Goa,West

In [18]:
x.head()

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East

In [21]:
x.tail(12)

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
243,Mishti Chholar Dal,"Chana dal, fresh coconut, ginger, cinnamon, ra...",vegetarian,10,30,sweet,main course,West Bengal,East
244,Pakhala,"Curd, cooked rice, curry leaves, dry chilli",vegetarian,-1,-1,-1,main course,Odisha,East
245,Pani Pitha,"Tea leaves, white sesame seeds, dry coconut, s...",vegetarian,10,20,-1,main course,Assam,North East
246,Payokh,"Basmati rice, rose water, sugar, clarified but...",vegetarian,-1,-1,sweet,dessert,Assam,North East
247,Prawn malai curry,"Coconut milk, prawns, garlic, turmeric, sugar",non vegetarian,15,50,spicy,main course,West Bengal,East
248,Red Rice,"Red pepper, red onion, butter, watercress, oli...",vegetarian,-1,-1,-1,main course,-1,-1
249,Shukto,"Green beans, bitter gourd, ridge gourd, banana...",vegetarian,10,20,spicy,main course,West Bengal,East
250,Til Pitha,"Glutinous rice, black sesame seeds, gur",vegetarian,5,30,sweet,dessert,Assam,North East
251,Bebinca,"Coconut milk, egg yolks, clarified butter, all...",vegetarian,20,60,sweet,dessert,Goa,West
252,Shufta,"Cottage cheese, dry dates, dried rose petals, ...",vegetarian,-1,-1,sweet,dessert,Jammu & Kashmir,North
253,Mawa Bati,"Milk powder, dry fruits, arrowroot powder, all...",vegetarian,20,45,sweet,dessert,Madhya Pradesh,Central
254,Pinaca,"Brown rice, fennel seeds, grated coconut, blac...",vegetarian,-1,-1,sweet,dessert,Goa,West

In [22]:
x.head(20)

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East
5,Imarti,"Sugar syrup, lentil flour",vegetarian,10,50,sweet,dessert,West Bengal,East
6,Jalebi,"Maida, corn flour, baking soda, vinegar, curd,...",vegetarian,10,50,sweet,dessert,Uttar Pradesh,North
7,Kaju katli,"Cashews, ghee, cardamom, sugar",vegetarian,10,20,sweet,dessert,-1,-1
8,Kalakand,"Milk, cottage cheese, sugar",vegetarian,20,30,sweet,dessert,West Bengal,East
9,Kheer,"Milk, rice, sugar, dried fruits",vegetarian,10,40,sweet,dessert,-1,-1
10,Laddu,"Gram flour, ghee, sugar",vegetarian,10,40,sweet,dessert,-1,-1
11,Lassi,"Yogurt, milk, nuts, sugar",vegetarian,5,5,sweet,dessert,Punjab,North
12,Nankhatai,"Refined flour, besan, ghee, powdered sugar, yo...",vegetarian,20,30,sweet,dessert,-1,-1
13,Petha,"Firm white pumpkin, sugar, kitchen lime, alum ...",vegetarian,10,30,sweet,dessert,Uttar Pradesh,North
14,Phirni,"Rice, sugar, nuts",vegetarian,30,20,sweet,dessert,Odisha,East
15,Rabri,"Condensed milk, sugar, spices, nuts",vegetarian,10,45,sweet,dessert,Uttar Pradesh,North
16,Sheera,"Semolina, ghee, nuts, milk",vegetarian,10,25,sweet,dessert,Maharashtra,West
17,Singori,"Khoa, coconut, molu leaf",vegetarian,10,20,sweet,dessert,Uttarakhand,North
18,Sohan halwa,"Corn flour, ghee, dry fruits",vegetarian,10,60,sweet,dessert,Uttar Pradesh,North
19,Sohan papdi,"Gram flour, ghee, sugar, milk, cardamom",vegetarian,-1,60,sweet,dessert,Maharashtra,West

In [23]:
x.head(50)

,name,ingredients,diet,prep_time,cook_time,flavor_profile,course,state,region
0,Balu shahi,"Maida flour, yogurt, oil, sugar",vegetarian,45,25,sweet,dessert,West Bengal,East
1,Boondi,"Gram flour, ghee, sugar",vegetarian,80,30,sweet,dessert,Rajasthan,West
2,Gajar ka halwa,"Carrots, milk, sugar, ghee, cashews, raisins",vegetarian,15,60,sweet,dessert,Punjab,North
3,Ghevar,"Flour, ghee, kewra, milk, clarified butter, su...",vegetarian,15,30,sweet,dessert,Rajasthan,West
4,Gulab jamun,"Milk powder, plain flour, baking powder, ghee,...",vegetarian,15,40,sweet,dessert,West Bengal,East
5,Imarti,"Sugar syrup, lentil flour",vegetarian,10,50,sweet,dessert,West Bengal,East
6,Jalebi,"Maida, corn flour, baking soda, vinegar, curd,...",vegetarian,10,50,sweet,dessert,Uttar Pradesh,North
7,Kaju katli,"Cashews, ghee, cardamom, sugar",vegetarian,10,20,sweet,dessert,-1,-1
8,Kalakand,"Milk, cottage cheese, sugar",vegetarian,20,30,sweet,dessert,West Bengal,East
9,Kheer,"Milk, rice, sugar, dried fruits",vegetarian,10,40,sweet,dessert,-1,-1
10,Laddu,"Gram flour, ghee, sugar",vegetarian,10,40,sweet,dessert,-1,-1
11,Lassi,"Yogurt, milk, nuts, sugar",vegetarian,5,5,sweet,dessert,Punjab,North
12,Nankhatai,"Refined flour, besan, ghee, powdered sugar, yo...",vegetarian,20,30,sweet,dessert,-1,-1
13,Petha,"Firm white pumpkin, sugar, kitchen lime, alum ...",vegetarian,10,30,sweet,dessert,Uttar Pradesh,North
14,Phirni,"Rice, sugar, nuts",vegetarian,30,20,sweet,dessert,Odisha,East
15,Rabri,"Condensed milk, sugar, spices, nuts",vegetarian,10,45,sweet,dessert,Uttar Pradesh,North
16,Sheera,"Semolina, ghee, nuts, milk",vegetarian,10,25,sweet,dessert,Maharashtra,West
17,Singori,"Khoa, coconut, molu leaf",vegetarian,10,20,sweet,dessert,Uttarakhand,North
18,Sohan halwa,"Corn flour, ghee, dry fruits",vegetarian,10,60,sweet,dessert,Uttar Pradesh,North
19,Sohan papdi,"Gram flour, ghee, sugar, milk, cardamom",vegetarian,-1,60,sweet,dessert,Maharashtra,West
20,Chhena jalebi,"Chhena, sugar, ghee",vegetarian,10,50,sweet,dessert,Odisha,East
21,Chhena kheeri,"Chhena, sugar, milk",vegetarian,-1,60,sweet,dessert,Odisha,East
22,Chhena poda,"Sugar, chenna cheese",vegetarian,10,45,sweet,dessert,Odisha,East
23,Cham cham,"Flour, cream, sugar, saffron, lemon juice, coc...",vegetarian,40,60,sweet,dessert,West Bengal,East
24,Kheer sagar,"Chenna, condensed milk, sugar, saffron, cardamom",vegetarian,25,60,sweet,dessert,Odisha,East
25,Ledikeni,"Chhena, sugar, ghee",vegetarian,45,45,sweet,dessert,West Bengal,East
26,Lyangcha,"Flour, fried milk power, sugar syrup",vegetarian,20,30,sweet,dessert,Assam,North East
27,Malapua,"Yoghurt, refined flour, ghee, fennel seeds",vegetarian,10,120,sweet,dessert,Bihar,North
28,Mihidana,"Besan flour, sugar, ghee",vegetarian,15,30,sweet,dessert,West Bengal,East
29,Misti doi,"Milk, jaggery",vegetarian,480,30,sweet,dessert,West Bengal,East
30,Pantua,"Chhena, sugar, ghee, flour",vegetarian,45,45,sweet,dessert,West Bengal,East
31,Pithe,"Rice flour, wheat flour",vegetarian,15,35,sweet,dessert,Assam,North East
32,Rasabali,"Chenna, sweetened milk",vegetarian,15,30,sweet,dessert,Odisha,East
33,Ras malai,"Chhena, reduced milk, pistachio",vegetarian,180,60,sweet,dessert,West Bengal,East
34,Rasgulla,"Chhena, sugar, cardamom",vegetarian,10,90,sweet,dessert,West Bengal,East
35,Sandesh,"Milk, sugar, saffron, cardamom",vegetarian,30,20,sweet,dessert,West Bengal,East
36,Adhirasam,"Rice flour, jaggery, ghee, vegetable oil, elachi",vegetarian,10,50,sweet,dessert,West Bengal,East
37,Ariselu,"Rice flour, jaggery, ghee",vegetarian,15,75,sweet,dessert,Andhra Pradesh,South
38,Bandar laddu,"Besan, jaggery, cardamom powder, ghee, cashews...",vegetarian,5,35,sweet,dessert,Andhra Pradesh,South
39,Chikki,"Peanuts, jaggery",vegetarian,10,20,sweet,dessert,Maharashtra,West
40,Dharwad pedha,"Milk, Sugar, Dharwadi buffalo milk",vegetarian,20,60,sweet,dessert,Karnataka,South
41,Double ka meetha,"Loaf bread, milk",vegetarian,20,30,sweet,dessert,Telangana,South
42,Gavvalu,"Rice flour, sugar, salt, ghee, semolina",vegetarian,10,30,sweet,dessert,Andhra Pradesh,South
43,Kakinada khaja,"Wheat flour, sugar",vegetarian,10,30,sweet,dessert,Andhra Pradesh,South
44,Kuzhi paniyaram,"Black lentils, rice",vegetarian,10,20,sweet,dessert,Kerala,South
45,Mysore pak,"Besan flour, semolina, mung bean, jaggery, coc...",vegetarian,5,20,sweet,dessert,Karnataka,South
46,Obbattu holige,"Maida flour, turmeric, coconut, chickpeas, jag...",vegetarian,180,60,sweet,main course,Karnataka,South
47,Palathalikalu,"Rice flour, milk",vegetarian,10,25,sweet,dessert,Andhra Pradesh,South
48,Poornalu,"Chana dal, jaggery",vegetarian,240,60,sweet,dessert,Andhra Pradesh,South
49,Pongal,"Rice, jaggery, cashews, ghee",vegetarian,5,20,sweet,dessert,Tamil Nadu,South

In [24]:
# wap to take input from user in string and cound the total using lambda.

In [25]:
# using lambda function for sorting 

mylist=[('apple',50),('Banana',10),('cherry',30)]

# sorting the list with words and numeric value.

In [30]:
y=input('Enter your text:')

x1=(lambda x:print(x))(y)
x1
print(len(y))

Enter your text: This is cat

This is cat
11