# 4. Tuples in Python
 * __Tuples are immutable lists and cannot be changed in any way once it is created.__
 * __Tuples are defined in the same as lists.__
 * __They are enclosed within parenthesis and not within square braces.__
 * __Tuples are ordered, indexed collections of data.__
 * __Similar to string indices, the first value in the tuple will have the index [0], the second value is [1]__
 * __Negative indices are counted from the end of the tuple, just like lists.__
 * __Tuple also has the same structure where commas separate the value.__
 * __Tuples can store duplicate value.__
 * __Tuples allows you to store several data items inclding string, integer, float in one variable.__

In [4]:
tuple_1=("Hello world",3.14,True,False)
print(type(tuple_1))

<class 'tuple'>

In [5]:
print(tuple_1)

('Hello world', 3.14, True, False)

In [8]:
# Accessing tuple with indexing
# postive indexing
print(tuple_1[0])
print(tuple_1[1])
print(tuple_1[2])
print(tuple_1[3])

Hello world
3.14
True
False

In [10]:
# negative indexing

print(tuple_1[-1])
print(tuple_1[-2])
print(tuple_1[-3])
print(tuple_1[-4])

False
True
3.14
Hello world

# concatenation of string

In [11]:
tuple_1

('Hello world', 3.14, True, False)

In [17]:
tuple_2=(10,20,30,40,50,10)

x_tuple=tuple_1+tuple_2
print(x_tuple)

('Hello world', 3.14, True, False, 10, 20, 30, 40, 50, 10)

In [18]:
4*'Hello world'

'Hello worldHello worldHello worldHello world'

In [19]:
tuple_1

('Hello world', 3.14, True, False)

In [16]:
4*tuple_1

('Hello world',
 3.14,
 True,
 False,
 'Hello world',
 3.14,
 True,
 False,
 'Hello world',
 3.14,
 True,
 False,
 'Hello world',
 3.14,
 True,
 False)

# membership operators

In [22]:
# in or not in

tuple_2=(1,2,3,4,5,6,7,10)

print(10 in tuple_2)
print(8 in tuple_2)
print(100 not in tuple_2)

True
False
True

In [29]:
# Aggrigate function (min,max, sum,count,len,avg)

agg=(10,10,20,20,20,30,40,50,60,60,60,70,100)
print('Minimum number of the tuple:',min(agg))
print('Maximum number of the tuple:',max(agg))
print('Sum of the tuple:',sum(agg))
print('Count of the element of the tuple:',agg.count(10))
print("Total lenght of the Tuple:",len(agg))

Minimum number of the tuple: 10
Maximum number of the tuple: 100
Sum of the tuple: 550
Count of the element of the tuple: 2
Total lenght of the Tuple: 13

# Nested tuple

In [31]:
nes_tuple=(10,20,("hello world",False),("hi,Pyton","Pune",55.63),("Cat","Dog",False),"Techonology")
nes_tuple

(10,
 20,
 ('hello world', False),
 ('hi,Pyton', 'Pune', 55.63),
 ('Cat', 'Dog', False),
 'Techonology')

In [32]:
print(nes_tuple)

(10, 20, ('hello world', False), ('hi,Pyton', 'Pune', 55.63), ('Cat', 'Dog', False), 'Techonology')

In [36]:
nes_tuple[2][1]

False

# Tuples are immutable

In [37]:
nes_tuple

(10,
 20,
 ('hello world', False),
 ('hi,Pyton', 'Pune', 55.63),
 ('Cat', 'Dog', False),
 'Techonology')

In [39]:
nes_tuple.append('Akash')
nes_tuple

AttributeError: 'tuple' object has no attribute 'append'

In [41]:
nes_tuple[0]=20
nes_tuple

TypeError: 'tuple' object does not support item assignment

In [42]:
del(nes_tuple[0])

TypeError: 'tuple' object doesn't support item deletion

In [49]:
nes_tuple

[100,
 ('hello world', False),
 ('hi,Pyton', 'Pune', 55.63),
 ('Cat', 'Dog', False),
 'Techonology',
 'Akash']

In [50]:
# You can't deleted one element in tuple but you can deleted the whole tuple.
nes_tuple

[100,
 ('hello world', False),
 ('hi,Pyton', 'Pune', 55.63),
 ('Cat', 'Dog', False),
 'Techonology',
 'Akash']

In [52]:
del(nes_tuple[1])

In [53]:
nes

NameError: name 'nes' is not defined

In [54]:
nes_tuple=(10,20,("hello world",False),("hi,Pyton","Pune",55.63),("Cat","Dog",False),"Techonology")
nes_tuple

(10,
 20,
 ('hello world', False),
 ('hi,Pyton', 'Pune', 55.63),
 ('Cat', 'Dog', False),
 'Techonology')

In [55]:
del(nes_tuple[1])

TypeError: 'tuple' object doesn't support item deletion

In [56]:
del(nes_tuple)

In [57]:
nes_tuple

NameError: name 'nes_tuple' is not defined