# 7. Condition in Python

# Comparison Operators:-# 
---------------------------------- * 
<----> less tha * n
<=---> less than or equal t * o 
>-----> greater t * han
>=----> greater htan or e * qual
==----> equ * al to
!=----> not eq# ual to
----------------------------- * -------
=---------> Assignment o# perators
----------------------------------------

In [7]:
ratio=3.14


# condition

print(ratio>2)
print(ratio==3.14)
print(ratio!=10)
print(ratio>=3.14)
print(ratio<=3.14)

True
True
True
True
True

In [26]:
# Compare string

print("Hello"=="Hello")
print("Hello world"!="Hello World")
print("Hello world">="Hi,Hello world")
print('A'=="A")
print("Ab"<"aB")
print("CD"<"DC")
print("Hello">"Python")
print('a'<"b")

True
True
False
True
True
True
False
True

In [27]:
print("A"<"B")

True

In [28]:
print("a">"A")

True

# Branching (if,elif,else)

 * __Decision making is required when we want to execute a code only if a certain condition is satisfied.__
 * __The if/elif/else statement is used in Python for decision making.__
 * __An else statement can be combined with an if statement.__
 * __An else statement contains the block of code that executes if the conditional expression in the if statement resolves to 0 or a False value.__
 * __The else statement is an optional statement and there could be at most only one else statement following if.__
 * __The elif statement allows you to check multiple expressions for True and execute a block of code as soon as one of the conditions evaluates to True.__
 * __Similar to the else, elif statement is optional.__
 * __However, unlike else, for which there can be at most one statemnet, can be an arbitrary number of the elif statement following if.__

In [34]:
babli=10

if babli>=6:
    print("You can go to primary school")
else:
    print("You are a baby")

You can go to primary school

In [35]:
10>=6

True

In [43]:
babli=5

if babli>6:
    print("You can go to primary School")
elif babli==5:
    print("You can go to kindergarten.")
else:
    print("You are a baby")

You can go to kindergarten.

In [50]:
babli=int(input("Enter your baby age:"))

if babli>=6:
    print("You can go to primary school.")
elif babli==5:
    print("you can to kindergarted.")
else:
    print("You are a baby")

Enter your baby age: 2000

You can go to primary school.

In [6]:
# wap to take input from user and display movie rating cretaria movie 8.0 to 10.0 (You can watch movie theater),
# 5.0 to 8.0 You can watch this movie at your home, below 5.0 then you can't watch this movie. 

x=float(input("Enter your movie rating:"))

if x>10 and x>=8.0:
    print("You can watch this movie in the theater.")
elif x<8.0 and x>5.0:
    print("You can watch this movie at your home.")
else:
    print("You Can't watch this movie")

Enter your movie rating: 200

You can watch this movie in the theater.

In [9]:
# Write a program to find the even or odd numebr from user input.

value=int(input("Enter any number:"))

if value%2==0:
    print("Even number")
else:
    print("Odd number")

Enter any number: 37

Odd number

In [13]:
# Write a program to check user input number is divisible by 7, 8.

x=int(input("Enter any number:"))

if x%7==0 and x%8==0:
    print("The number is divisible by both 7 and 8.")
elif x%7==0 and x%8!=0:
    print("The number is divisible by 7 only not 8.")
elif x%7!=0 and x%8==0:
    print("The number is divisible 8 only not 7.")
else:
    print("The number is not divisible by both of them")

Enter any number: 20

The number is not divisible by both of them

In [1]:
# wap a program to find the divisiblity rule of 3,5 and 7

In [13]:
# Write a program to take the three age as input from user and display the yongest one Age should be below 100.


x=int(input('Enter first person age:'))
y=int(input('Enter second person age:'))
z=int(input('Enter third person age: '))
if x<100 and y<100 and z<100:
    if x<y and x<z:
        print(f'{x} is youngest than {y},{z}')
    elif y<x and y<z:
        print(f"{y} is youngest than {x},{z}")
    elif z<x and z<y:
        print(f"{z} is youngest than {x},{y}")
else:
    print("Age should not be greater than 100.")

Enter first person age: 78
Enter second person age: 96
Enter third person age:  23

23 is youngest than 78,96

In [16]:
# Write a program to find the sum of three number from user input.
a=int(input('Enter first number: '))
b=int(input("Enter second number: "))
c=int(input("Enter third number: "))

if a<50 and b<50 and c<50:
    z=a+b+c
    print("Total sum of the three numbers is:",z)
else:
    print("Number should be less than 50")

Enter first number:  49
Enter second number:  48
Enter third number:  47

Total sum of the three numbers is: 144

In [21]:
# wap to find the sum of three numbers if all numbers are less than 20 and if numbers is greater than 20 
# than find subtract or all numbers is greater than 30 the mutiply all numbers.

a=int(input('Enter first number: '))
b=int(input('Enter second number: '))
c=int(input('Enter third number: '))
if a<=20 and b<=20 and c<=20:
    z=a+b+c
    print("Total sum of number is:",z)
elif a>20 and a<30 and b>20 and b<30 and c>20 and c<30:
    z1=a-b-c
    print("your subtracted value is:",z1)
elif a>30 and b>30 and c>30:
    z2=a*b*c
    print("Your multiplied value is:",z2)

Enter first number:  20
Enter second number:  20
Enter third number:  20

Total sum of number is: 60

In [1]:
# Given a list= [10,20,30,40,50,60,70,80,90,100]
# first reverse the value only 40 to 80 your product is 80,70,60,50,40
# Second reverse the whole list=[100,90,80,70,60,50,40,30,20,10]

In [2]:
list = [10,20,30,40,50,60,70,80,90,100]
list.reverse()
print("reversed list is : ",list)
list1= [10,20,30,40,50,60,70,80,90,100]
list2 = list1[3:8]
list2.reverse()
print("From 80 to 40 reverse is : ",list2)

reversed list is :  [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
From 80 to 40 reverse is :  [80, 70, 60, 50, 40]

In [11]:
list= [10,20,30,40,50,60,70,80,90,100]

x=list[3:8]
x

[40, 50, 60, 70, 80]

In [10]:
x[::-1]

[80, 70, 60, 50, 40]

In [13]:
list = [10,20,30,40,50,60,70,80,90,100]
list.reverse()
list

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

In [14]:
# Return a new set of identical items from two sets.
set1={10,20,30,40,50,60}
set2={30,40,50,60,70,80}

# Get only unique items from two sets
set1={10,20,30,40,50,60}
set2={30,40,50,60,70,80}


# update the fist set with items that don't exist in the second set?

set1={10,20,30,40}
set2={30,20,10,60,70,80}


# write a python progrm to remove items 10,20,30 from the set at once.

set1={10,20,30,40,50,60,70,80}

# Return a set of elements present in set A or B, but not both
set1={10,20,30,40}
set2={30,20,10,60,70,80}

# Check if two sets have any elements in common, if yes, display the common elements.
set1={10,20,30,40,50}
set2={60,70,80,90,10}

In [15]:
# Return a new set of identical items from two sets.
set1={10,20,30,40,50,60}
set2={30,40,50,60,70,80}

set1.intersection(set2)

{30, 40, 50, 60}

In [19]:
# update the fist set with items that don't exist in the second set?

set1={10,20,30,40}
set2={30,20,10,60,70,80}

set1.difference(set2)

{40}

In [20]:
set2.difference(set1)

{60, 70, 80}

In [21]:
# Get only unique items from two sets
set1={10,20,30,40,50,60}
set2={30,40,50,60,70,80}

set1.union(set2)

{10, 20, 30, 40, 50, 60, 70, 80}

In [32]:
set1.update(set2)
set1

{10, 20, 30, 40, 50, 60, 70, 80}

In [33]:
# write a python progrm to remove items 10,20,30 from the set at once.

set1={10,20,30,40,50,60,70,80}


set1.difference_update({10,20,30})

In [34]:
set1

{40, 50, 60, 70, 80}

In [35]:
# Return a set of elements present in set A and B, but not both
set1={10,20,30,40}
set2={30,20,10,60,70,80}

set1.symmetric_difference(set2)

{40, 60, 70, 80}

In [36]:
set1-set2

{40}

In [37]:
set2-set1

{60, 70, 80}

In [38]:
set1.difference(set2)

{40}

In [39]:
set2.difference(set1)

{60, 70, 80}

In [40]:
# Check if two sets have any elements in common, if yes, display the common elements.
set1={10,20,30,40,50}
set2={60,70,80,90,10}

set1.intersection(set2)

{10}

In [10]:
# Write a program to display the weekdays name if user press the key 1="Monday",2="Tuesday",3="Wednesday" and so on.
user1=int(input('Enter any number:'))
if user1>0 and user1<=7:
    if user1==1:
        print('Weekday: Monday')
    elif user1==2:
        print('Weekday: Tuesday')
    elif user1==3:
        print('Weekday: Wednesday')
    elif user1==4:
        print('Weekday: Thursday')
    elif user1==5:
        print('Weekday: Friday')
    elif user1==6:
        print('Weekday: Saturday')
    else:
        print('Weekday: Sunday')
else:
    print('Ennter valid number.')

Enter any number: 7

Weekday: Sunday

In [11]:
# Write a program to find the exponent of user input number.

y=int(input('Enter your first number:'))
x=int(input('Enter your second number:'))

z=y**x
print(z)

Enter your first number: 2
Enter your second number: 8

256

In [ ]:
# Wap to display months name according the number if user press 1="january",2="February" and so on .

In [12]:
#Calculator 


def add( x, y ):
    return x + y
def sub( x, y ):
    return x - y
def multi( x, y ):
    return x * y
def divide( x, y ):
    return x / y

print("Which operation you want to perform")
print(" 1 . For Addition")
print(" 2 . For Subtraction")
print(" 3 . For Multiplication")
print(" 4 . For Division")

while True:
    choice = input("Enter your choice (1/2/3/4) : \n")
    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Enter first number : \n"))
            num2 = float(input("Enter second number : \n"))
        except ValueError:
            print(" Enter only integers ")
            continue
        if choice == '1':
            print("Addition is : ", num1 , " + ", num2, " = ", num1 + num2, "\n")
        elif choice == '2':
            print("Subtraction is : ", num1, " - ", num2, " = ", num1 - num2, "\n")
        elif choice == '3':
            print("Multiplication is : ", num1, " * ", num2, " = ", num1 * num2, "\n")
        elif choice == '4':
            print("Division is : ", num1, " / ", num2, " = ", num1 / num2, "\n")
        next_calculation = input(" Let's do next calculation? ( y / n ) : ")
        if next_calculation.lower() == "n" :
          break
    else:
         print( "Invalid input" )

Which operation you want to perform
 1 . For Addition
 2 . For Subtraction
 3 . For Multiplication
 4 . For Division

Enter your choice (1/2/3/4) :
 1
Enter first number :
 12
Enter second number :
 12

Addition is :  12.0  +  12.0  =  24.0

 Let's do next calculation? ( y / n ) :  n

In [18]:
# Accept any city from the user and displays monument of the city.

# City-------------------------> Monument
# Delhi -----------------------> "RedFort"
# Agra-------------------------> "TajMahal"
# Jaipur-----------------------> "JalMahal,HawaMahal"
# AmritSar---------------------> "Golden Temple"
# Madurai----------------------> "Meenakshi Temple"
# Mysore-----------------------> "Mysore Palace"
# Mumbai-----------------------> "Gateway of India"
# Sanchi-----------------------> "Sanchi Stupa"
# Hydrabad --------------------> "Charminar"

list=['Delhi','Agra','Jaipur','Amritsar','Madurai','Maysore',"Mumbai",'Sanchi','Hydrabad']
print(list)
user=input('Enter your city name:')

if user.capitalize()=="Delhi":
    print('Monumnet is: Redfort')
elif user.capitalize()=="Agra":
    print('Monument is: TajMahal')
elif user.upper()=="JAIPUR":
    print('Monument is: JalMahal,HawaMahal')

['Delhi', 'Agra', 'Jaipur', 'Amritsar', 'Madurai', 'Maysore', 'Mumbai', 'Sanchi', 'Hydrabad']

Enter your city name: JaIPUR

Monument is: JalMahal,HawaMahal

In [ ]:
deLHI==Delhi