# 8. Functions in python

 * __A for loop is used for iterating over a sequence(that is either a list, a tuple, a dicitonary and a set, or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in other programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, a set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we execute a set of statements as long as a condition is true.__
 * __Note: Remember to increment i, or else the loop will continue forever.__
 * __The while loop requires relevant variable to be ready, in this example we need to define a indexing variable, i, which we set to 1.__

# range() functions

 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code a specified number of times, we can use the range() function.__
 * __The range() function return a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specifed number.__

In [1]:
range(10)

range(0, 10)

In [2]:
range(5)

range(0, 5)

In [3]:
range(10,20)

range(10, 20)

In [4]:
range(10)

range(0, 10)

In [5]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [6]:
for babli in range(20):
    print(babli)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [8]:
for x1 in range(31,40):
    print(x1)

31
32
33
34
35
36
37
38
39

In [13]:
x=[10,20,30,40,50,60]
print(type(x))

for i in x:
    print(i)

<class 'list'>
10
20
30
40
50
60

In [14]:
tuple_1=(2,4,5,6,7,8,9,10)

for i in tuple_1:
    print(i)

2
4
5
6
7
8
9
10

In [15]:
set_1={1,1,1,1,2,2,2,2,2,3,3,3,3,3}
for i in set_1:
    print(i)

1
2
3

In [21]:
list_1=[10,12,14,16,18,20]

for i in range(len(list_1)):
    print(i,list_1[i])

0 10
1 12
2 14
3 16
4 18
5 20

In [28]:
my_list=[10,20,30,40,50,60]
for i, value in enumerate(my_list[::-1]):
    x=-(i+1)
    print(f'Index{x}:{value}')

Index-1:60
Index-2:50
Index-3:40
Index-4:30
Index-5:20
Index-6:10

In [31]:
list=[10,20,30,40,50,60]

for i in reversed(list):
    print(i,end=',')

60,50,40,30,20,10,

In [32]:
for i in list[::-1]:
    print(i)

60
50
40
30
20
10

In [34]:
# print even number from 1 to 10 using loop.

for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [35]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [38]:
names=['Rupali',"Babli","Pratigya","Akash","Uday","Gurav"]

for i in range(len(names)):
    print(i,names[i])

0 Rupali
1 Babli
2 Pratigya
3 Akash
4 Uday
5 Gurav

In [43]:
for i,j in enumerate(names):
    print(i,j)

0 Rupali
1 Babli
2 Pratigya
3 Akash
4 Uday
5 Gurav

In [44]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [48]:
# wap to generate table.

number=19

for i in range(1,11):
    print(i*number)

19
38
57
76
95
114
133
152
171
190

In [50]:
number=int(input('Enter any number:'))

for i in range(1,11):
    print(i*number)

Enter any number: 23

23
46
69
92
115
138
161
184
207
230

In [51]:
def table():
    num1 = int(input("Enter first table:"))
    num2 = int(input("Enter second table"))
    
    for i in range(1,11):
        print('%d X %d = %d'%(num1,i,num1*i),'   %d X %d = %d'%(num2,i,num2*i))
        
table()

Enter first table: 12
Enter second table 13

12 X 1 = 12    13 X 1 = 13
12 X 2 = 24    13 X 2 = 26
12 X 3 = 36    13 X 3 = 39
12 X 4 = 48    13 X 4 = 52
12 X 5 = 60    13 X 5 = 65
12 X 6 = 72    13 X 6 = 78
12 X 7 = 84    13 X 7 = 91
12 X 8 = 96    13 X 8 = 104
12 X 9 = 108    13 X 9 = 117
12 X 10 = 120    13 X 10 = 130

In [52]:
num1 = int(input("Enter first table:"))
#num2 = int(input("Enter second table"))
for i in range(1,11):
        print(f"{num1}X{i}={num1*i}")

Enter first table: 12

12X1=12
12X2=24
12X3=36
12X4=48
12X5=60
12X6=72
12X7=84
12X8=96
12X9=108
12X10=120