# 8. Functions in python

 * __A for loop is used for iterating over a sequence(that is either a list, a tuple, a dicitonary and a set, or a string).__
 * __This is less like the for keyword in other programming languages, and works more like an iterator method as found in other programming languages.__
 * __With the for loop we can execute a set of statements, once for each item in a list, tuple, a set etc.__
 * __The for loop does not require an indexing variable to set beforehand.__
 * __With the while loop we execute a set of statements as long as a condition is true.__
 * __Note: Remember to increment i, or else the loop will continue forever.__
 * __The while loop requires relevant variable to be ready, in this example we need to define a indexing variable, i, which we set to 1.__

# range() functions

 * __It is helpful to think of the range object as an ordered list.__
 * __To loop through a set of code a specified number of times, we can use the range() function.__
 * __The range() function return a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specifed number.__

In [1]:
range(10)

range(0, 10)

In [2]:
range(5)

range(0, 5)

In [3]:
range(10,20)

range(10, 20)

In [4]:
range(10)

range(0, 10)

In [5]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [6]:
for babli in range(20):
    print(babli)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [8]:
for x1 in range(31,40):
    print(x1)

31
32
33
34
35
36
37
38
39

In [13]:
x=[10,20,30,40,50,60]
print(type(x))

for i in x:
    print(i)

<class 'list'>
10
20
30
40
50
60

In [14]:
tuple_1=(2,4,5,6,7,8,9,10)

for i in tuple_1:
    print(i)

2
4
5
6
7
8
9
10

In [15]:
set_1={1,1,1,1,2,2,2,2,2,3,3,3,3,3}
for i in set_1:
    print(i)

1
2
3

In [21]:
list_1=[10,12,14,16,18,20]

for i in range(len(list_1)):
    print(i,list_1[i])

0 10
1 12
2 14
3 16
4 18
5 20

In [28]:
my_list=[10,20,30,40,50,60]
for i, value in enumerate(my_list[::-1]):
    x=-(i+1)
    print(f'Index{x}:{value}')

Index-1:60
Index-2:50
Index-3:40
Index-4:30
Index-5:20
Index-6:10

In [31]:
list=[10,20,30,40,50,60]

for i in reversed(list):
    print(i,end=',')

60,50,40,30,20,10,

In [32]:
for i in list[::-1]:
    print(i)

60
50
40
30
20
10

In [34]:
# print even number from 1 to 10 using loop.

for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

In [35]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [38]:
names=['Rupali',"Babli","Pratigya","Akash","Uday","Gurav"]

for i in range(len(names)):
    print(i,names[i])

0 Rupali
1 Babli
2 Pratigya
3 Akash
4 Uday
5 Gurav

In [43]:
for i,j in enumerate(names):
    print(i,j)

0 Rupali
1 Babli
2 Pratigya
3 Akash
4 Uday
5 Gurav

In [44]:
for i in range(-10,0):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [48]:
# wap to generate table.

number=19

for i in range(1,11):
    print(i*number)

19
38
57
76
95
114
133
152
171
190

In [50]:
number=int(input('Enter any number:'))

for i in range(1,11):
    print(i*number)

Enter any number: 23

23
46
69
92
115
138
161
184
207
230

In [51]:
def table():
    num1 = int(input("Enter first table:"))
    num2 = int(input("Enter second table"))
    
    for i in range(1,11):
        print('%d X %d = %d'%(num1,i,num1*i),'   %d X %d = %d'%(num2,i,num2*i))
        
table()

Enter first table: 12
Enter second table 13

12 X 1 = 12    13 X 1 = 13
12 X 2 = 24    13 X 2 = 26
12 X 3 = 36    13 X 3 = 39
12 X 4 = 48    13 X 4 = 52
12 X 5 = 60    13 X 5 = 65
12 X 6 = 72    13 X 6 = 78
12 X 7 = 84    13 X 7 = 91
12 X 8 = 96    13 X 8 = 104
12 X 9 = 108    13 X 9 = 117
12 X 10 = 120    13 X 10 = 130

In [52]:
num1 = int(input("Enter first table:"))
#num2 = int(input("Enter second table"))
for i in range(1,11):
        print(f"{num1}X{i}={num1*i}")

Enter first table: 12

12X1=12
12X2=24
12X3=36
12X4=48
12X5=60
12X6=72
12X7=84
12X8=96
12X9=108
12X10=120

In [9]:
x={1,2,3,4,5,6,7,89,10,10,10,20,20,20,1,1,1,2,2,2}

# find sum of the set.
sum1=0
for i in x:
    sum1+=i
    print(i,sum1)
    print(sum1/len(x))

1 1
0.1
2 3
0.3
3 6
0.6
4 10
1.0
5 15
1.5
6 21
2.1
7 28
2.8
10 38
3.8
20 58
5.8
89 147
14.7

In [11]:
# even number 10
even_sum=0
for i in range(0,11,2):
    even_sum+=i
    print(i,even_sum)

0 0
2 2
4 6
6 12
8 20
10 30

In [13]:
sum2=0
for i in range(0,11):
    if i%2==0:
        sum2+=i
        print(i,sum2)

0 0
2 2
4 6
6 12
8 20
10 30

In [23]:
_=0
for i in range(101,201,2):
    _+=i
    print(i,_)

101 101
103 204
105 309
107 416
109 525
111 636
113 749
115 864
117 981
119 1100
121 1221
123 1344
125 1469
127 1596
129 1725
131 1856
133 1989
135 2124
137 2261
139 2400
141 2541
143 2684
145 2829
147 2976
149 3125
151 3276
153 3429
155 3584
157 3741
159 3900
161 4061
163 4224
165 4389
167 4556
169 4725
171 4896
173 5069
175 5244
177 5421
179 5600
181 5781
183 5964
185 6149
187 6336
189 6525
191 6716
193 6909
195 7104
197 7301
199 7500

In [30]:
sum3=10
for i in range(100,201):
    if i%2==1:
        sum3+=i
        print(i,sum3)

101 111
103 214
105 319
107 426
109 535
111 646
113 759
115 874
117 991
119 1110
121 1231
123 1354
125 1479
127 1606
129 1735
131 1866
133 1999
135 2134
137 2271
139 2410
141 2551
143 2694
145 2839
147 2986
149 3135
151 3286
153 3439
155 3594
157 3751
159 3910
161 4071
163 4234
165 4399
167 4566
169 4735
171 4906
173 5079
175 5254
177 5431
179 5610
181 5791
183 5974
185 6159
187 6346
189 6535
191 6726
193 6919
195 7114
197 7311
199 7510

In [27]:
sum3

'babli'

In [31]:
for i in range(100,200):
    print(i)

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199

In [45]:
sum4=0
for i in range(100,200):
    
    print(i)
    if i<=150:
        sum4+=i
        print(i,sum4)

100
100 100
101
101 201
102
102 303
103
103 406
104
104 510
105
105 615
106
106 721
107
107 828
108
108 936
109
109 1045
110
110 1155
111
111 1266
112
112 1378
113
113 1491
114
114 1605
115
115 1720
116
116 1836
117
117 1953
118
118 2071
119
119 2190
120
120 2310
121
121 2431
122
122 2553
123
123 2676
124
124 2800
125
125 2925
126
126 3051
127
127 3178
128
128 3306
129
129 3435
130
130 3565
131
131 3696
132
132 3828
133
133 3961
134
134 4095
135
135 4230
136
136 4366
137
137 4503
138
138 4641
139
139 4780
140
140 4920
141
141 5061
142
142 5203
143
143 5346
144
144 5490
145
145 5635
146
146 5781
147
147 5928
148
148 6076
149
149 6225
150
150 6375
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199

In [ ]:
x= [10,11,13,15,16,17,33,35,37,38,20,30,40,50,60,70,80,90,100]

In [59]:
sum = 0
for i in range(100,201):
    sum+=i
    if sum==6526:
        break
    print(i,sum)

100 100
101 201
102 303
103 406
104 510
105 615
106 721
107 828
108 936
109 1045
110 1155
111 1266
112 1378
113 1491
114 1605
115 1720
116 1836
117 1953
118 2071
119 2190
120 2310
121 2431
122 2553
123 2676
124 2800
125 2925
126 3051
127 3178
128 3306
129 3435
130 3565
131 3696
132 3828
133 3961
134 4095
135 4230
136 4366
137 4503
138 4641
139 4780
140 4920
141 5061
142 5203
143 5346
144 5490
145 5635
146 5781
147 5928
148 6076
149 6225
150 6375

In [65]:
x= [10,11,13,15,16,17,33,35,37,38,20,30,40,50,60,70,80,90,100]


even=[]
sum1=0
for i in x:
    if i%2==0:
        even.append(i)
        sum1+=i
print(even,'=',sum1)

[10, 16, 38, 20, 30, 40, 50, 60, 70, 80, 90, 100] = 604

In [67]:
sum5=0
for i in x:
    print(i)
    if i%2==0:
        sum5+=i
        print(i,sum5)

10
10 10
11
13
15
16
16 26
17
33
35
37
38
38 64
20
20 84
30
30 114
40
40 154
50
50 204
60
60 264
70
70 334
80
80 414
90
90 504
100
100 604

In [68]:
even

[10, 16, 38, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [71]:
#Filtering list using filter

list1= [10,11,13,15,16,17,33,35,37,38,20,30,40,50,60,70,80,90,100]
def is_even(y):
    return y % 2 == 0
list2 = list(filter(is_even,list1))
print(list2)

[10, 16, 38, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [72]:
#even numbers using list comprehension

x= [10,11,13,15,16,17,33,35,37,38,20,30,40,50,60,70,80,90,100]
even = [i for i in x if i % 2 == 0]
print(even)

[10, 16, 38, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [3]:
user_1=int(input('Enter your range:'))
list1=[]
even_1=[]
odd_1=[]
for i in range(user_1):
    list1.append(i)
    if i%2==0:
        even_1.append(i)
    elif i%2!=0:
        odd_1.append(i)

print("It's your list:",list1)
print("Even numbers of your list:",even_1)
print("Odd numbers of your list:",odd_1)

Enter your range: 20

It's your list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
Even numbers of your list: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
Odd numbers of your list: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# break in for loop

In [8]:
for i in range(1,20):
    if i==10:
        break
    print(i)

1
2
3
4
5
6
7
8
9

# Continue in for loop

In [12]:
for i in range(20,31):
    if i==25:
        continue
    print(i)

20
21
22
23
24
25
26
27
28
29
30

In [67]:
# wap to take range from user 50 to 100 and find even or odd 70
x=int(input('Enter your starting range:'))
y=int(input('Enter your ending range:'))

even_list=[]
odd_list=[]
for i in range(x,y+1):
    if i%2==0:
        even_list.append(i)
        if i==70:
            break
    #print(i)

print(even_list)

Enter your starting range: 50
Enter your ending range: 100

[50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70]

In [65]:
x=int(input('Enter your starting range:'))
y=int(input('Enter your ending range:'))
even_list=[]
odd_list=[]
for i in range(x,y+1):
    if i%2!=0:
        odd_list.append(i)
        if i==70:
            break
    #print(i)
print(odd_list)

Enter your starting range: 50
Enter your ending range: 100

[51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [ ]:
# Wap to find the sum of 50 natural numbers.

#range()

In [71]:
i=50

while i<=100:
    print(i)
    i+=1

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [72]:
i=50

while i<=100:
    if i==70:
        break
    print(i)
    i+=1

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69

In [87]:
i=0

while i<=5:
    print(i)
    i+=1
    if i==3:
        break

0
1
2

In [88]:
i=0

while i<=5:
    print(i)
    i+=1
    if i==3:
        continue

0
1
2
3
4
5

In [1]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
i=1
while i<11:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [6]:
i=1

while i<11:
    if i==6:
        break
    print(i)
    i+=1

1
2
3
4
5

In [9]:
i=1

while i<11:
    print(i)
    i+=1
    if i==6:
        continue

1
2
3
4
5
6
7
8
9
10

In [16]:
i=1

while i<=5:
    
    print(i)
    i+=1
    if i==3:
        continue

1
2
3
4
5

In [15]:
for i in range(1,10+1):
    
    print(i)
    if i==5:
        continue

1
2
3
4
5
6
7
8
9
10

In [17]:
# Write a program to count the total number of digits in a number using a while loop.
# for example, the number is 75869, so output is 5.


#Write a program to count total number of digits in name using while loop

n = int(input("Enter numbers without comma : "))
num = 0
while n > 0:
    num +=1
    n = n//10
print("Total number of digits : ",num)

Enter numbers without comma :  78963

Total number of digits :  5

In [28]:
n=input('Enter the number:')

x=list(n)
count=0
while count<len(x):
    for i in x:
        count+=1
print(count)

Enter the number: 45151651516516

14

In [29]:
n = (input("Enter numbers without comma : "))
x = []
x.extend(n)
print(x)
num = 0
while num < len(x):
    for i in x:
        num+=1
    print(num)

Enter numbers without comma :  45789632

['4', '5', '7', '8', '9', '6', '3', '2']
8

In [32]:
# Wap to program that keeps on accepting a number from the user until the user enters Zero. 
# Display the sum and average of all the number.


#WAP that keeps on accepting input from user until entered zero
#Dislpay sum and avg of all the numbers

list = []
while True:
    n = int(input("Enter any number : "))
    list.append(n)
    if n==0:
        break
print(list)
print("Sum of list is : ",sum(list))
print("Average of list is : ",sum(list)/len(list))

Enter any number :  78
Enter any number :  78
Enter any number :  78
Enter any number :  78
Enter any number :  54
Enter any number :  96
Enter any number :  0

[78, 78, 78, 78, 54, 96, 0]
Sum of list is :  462
Average of list is :  66.0

In [42]:
# Write a program to print the frist 25 odd numbers? and find their sum and average and its total length.


count=0
i=1
odd_list=[]
while True:
    if i%2!=0:
        odd_list.append(i)
        count+=1
    if count==10:
        break
    i+=1
print(odd_list,'Sum=',sum(odd_list),'Avg=',sum(odd_list)/len(odd_list),'\nLength=',len(odd_list),)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19] Sum= 100 Avg= 10.0
Length= 10

In [6]:
# Wap to print sum, average,and length of positive or negative value given by the user input in range:
user1=int(input('Enter your range:'))
list_1=[]
pos_list=[]
neg_list=[]
i=1
while i<=user1:
    user2=int(input(f'Enter your number{i}:'))
    list_1.append(user2)
    if user2>0:
        pos_list.append(user2)
    elif user2<0:
        neg_list.append(user2)
    #print(i)
    i+=1

print(list_1,'\n',pos_list,'\n',neg_list)

Enter your range: 5
Enter your number1: 10
Enter your number2: -20
Enter your number3: -69
Enter your number4: 100
Enter your number5: 200

[10, -20, -69, 100, 200]
 [10, 100, 200]
 [-20, -69]

In [7]:
# Assignment
# --------------------------------------------------
# 1. Create a program that takes a year as input and check if it is leap year or not.
# 2. Write a python program to check if a given number is prime or not.
# 3. Given a list of names, print all names starting with the letters "A",
# 4. Write a program that calculates the factorial of a given number.
# 5. Create a loop that print all prime numbers between 1 and 50.
# 6. Given a list of words, count the number of words with more than five characters.

In [1]:
# 1. Create a program that takes a year as input and check if it is leap year or not.

year=int(input('Enter the year:'))
if (year%4==0 and year%100!=0):
    print("year is a leap year!")
    
else: print('the year is not a leap year')

Enter the year: 2024

year is a leap year!

In [ ]:
while True:
    year=int(input('Enter the year:'))
    if (year%4==0 and year%100!=0):
        print("year is a leap year!")
    
    else: print('the year is not a leap year')

In [4]:
i=int(input('Enter Year:'))
while True:
    if i%4==0 and i%100!=0:
        print('Leap Year')
        break
    else:
        print('Not Leap Year')
        break
    print(i)
    i+=1

Enter Year: 2024

Leap Year

In [39]:
# 2. Write a python program to check if a given number is prime or not.

user=int(input('Enter any number:'))

if user==1:
    print("Not Prime Number.")
elif user>1:
    for i in range(2,user):
        if (user %i)==0:
            print('Not Prime Number')
            break
    else:
        print('Prime Number')

else:
    print(f'{user} is not prime number')

Enter any number: 53

Prime Number

In [46]:
# 3. Given a list of names, print all names starting with the letters "A"

list=['Ajinkya','Pradnya','Uday','Akash','Rahul','Amit','ajay']
i=0
while True:
    if list[i][0]=='A':
        print(list[i])
    elif list[i][0]=='a':
        print(list[i])
        break
    i+=1

Ajinkya
Akash
Amit
ajay

In [92]:
# 4. Write a program that calculates the factorial of a given number.


num = int(input("Enter any number : "))

i = 1
f = 1
while i<=num:
    f = f*i
    i+=1
print(f"Factorial of {num} is : ",f)

Enter any number :  5

Factorial of 5 is :  120

In [48]:
n=int(input('Enter any number'))
sum=1
for i in range(1,n+1):
    sum=sum*i
print('The factorial of the number is :',sum)

Enter any number 3

The factorial of the number is : 6

In [90]:
# 5. Create a loop that print all prime numbers between 1 and 50.


#user=int(input('Enter any number:')

In [89]:
# 6. Given a list of words, count the number of words with more than five characters.
user=int(input('Enter your range:'))
list=[]
count=[]
x=1
for i in range(1,user+1):
    user2=input(f'Enter your list here {i}:')
    list.append(user2)
    for x in list:
        if len(x)>5:
            count.append(x)   
print(list)
print(count)

Enter your range: 2
Enter your list here 1: cat
Enter your list here 2: Welcome

['cat', 'Welcome']
['Welcome']

In [76]:
for num in range(1, 51):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [84]:
#Given the list of names count the number of names having more than five characters.

list = ['Welcome','cat','dog','congratulations']
new=[]
for i in list:
    if len(i) > 5:
        new.append(i)
print(new)

['Welcome', 'congratulations']

In [2]:
for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

In [3]:
for i in range(50,100,2):
    print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [4]:
for i in range(50,100):
    if i%2==0:
        print(i)

50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [5]:
for i in range(51,100,2):
    print(i)

51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [13]:
for i in range(50,100):
    if i%2!=0:
        print(i,end='|')

51|53|55|57|59|61|63|65|67|69|71|73|75|77|79|81|83|85|87|89|91|93|95|97|99|

In [7]:
range(100)

range(0, 100)

In [18]:
a=int(input('Enter any number:'))

for i in range(1,a+1):
    b=int(input(f'Enter your number {i}:'))
    if b%2==0:
        print('The number is even')
    elif b%2!=0:
        print('The number is odd')

Enter any number: 5
Enter your number 1: 12

The number is even

Enter your number 2: 45

The number is odd

Enter your number 3: 12

The number is even

Enter your number 4: 36

The number is even

Enter your number 5: 78

The number is even

In [34]:
x=int(input('Enter your range:'))
list1=[]
list2=[]
for i in range(1,x+1):
    user1=int(input(f'Enter your number {i}:'))
    if user1%2==0:
        list1.append(user1)
        #print(list1)
    else:
        list2.append(user1)
        #print('Odd Number:',list2)

print('Even Number',list1,'\nOdd Number',list2)

Enter your range: 5

TypeError: 'int' object is not callable

In [35]:
x=int(input('Enter your range:'))
list1=[]
list2=[]
for i in range(1,x+1):
    user1=int(input(f'Enter your number {i}:'))
    if user1%2==0:
        list1.append(user1)
        #print(list1)
    else:
        list2.append(user1)
        #print('Odd Number:',list2)

print('Even Number',list1,'\nOdd Number',list2)

Enter your range: 2

TypeError: 'int' object is not callable