# 9. Functions in Python
* _________________________________________________________________________________________
 * __In Python, a function is a group of related statements that performs a specific task.__
 * __Functions help break our program into smaller and modular chunks. *As our program grows larger and larger, functions make it more organized and manageable.__
 * __Furthermore, it avoids repetition and make the code reusable.__
 * __There are two types of functions:__
 * __Pre-defined functions.__
 * __User-defined functions.__
 * __In Python a function is defined using the def keyword followed by the function name and parentheses ().__
 * __Keyword def that marks the start of the function header.__
 * __A function name to uniquely identify the function.__
 * __Function naming follows the same rules of writing identifiers in Python.__
 * __Parameters (arguments) through which we pass values to a function. They are optional.__
 * __A colon(:) to mark the end of the funciton header.__
 * __Optional documentation string (docstring) to describe what the function does.__
 * __One or more valid python statements that make up the function body.__
 * __Statements must have the same indentation level(usually 4 spaces).__
 * __An optional return statemnet return a value from the function.__

In [10]:
def greet(y):
    x='Congratulation! '+y
    print('Function working Successfully!')
    return x
    
    

greet('Ajinkya')

Function working Successfully!

'Congratulation! Ajinkya'

In [11]:
greet('Uday')

Function working Successfully!

'Congratulation! Uday'

In [12]:
greet('Babli')

Function working Successfully!

'Congratulation! Babli'

In [13]:
greet('Srinivash')

Function working Successfully!

'Congratulation! Srinivash'

In [14]:
print('Hello world')

return "Hello world"

Hello world

SyntaxError: 'return' outside function (427105306.py, line 3)

In [22]:
# Waf to sum of two number:

def sum(a,b):
    z=a+b
    print('The sum of two numbers is:',z)
    #return z


sum(100,200)

The sum of two numbers is: 300

In [23]:
greet('Pratigya')

Function working Successfully!

'Congratulation! Pratigya'

In [24]:
sum(10,20)

The sum of two numbers is: 30

In [25]:
sum(35.25,78.96)

The sum of two numbers is: 114.21

In [26]:
greet('Hello')

Function working Successfully!

'Congratulation! Hello'

In [27]:
sum(78,96)

The sum of two numbers is: 174

In [31]:
def msg1():
    print('Hello World')

def msg2():
    print('Good Morning!')
    return None

In [32]:
msg1()
msg2()

Hello World
Good Morning!

In [33]:
print(msg1())

Hello World
None

In [41]:
def ajinky():
    print('Ajinkya yeha dekho')

In [42]:
ajinky()

Ajinkya yeha dekho

In [43]:
print(ajinky())

Ajinkya yeha dekho
None

In [51]:
# waf with user input that take two value form user.

def user1(x,y):
    sum1=x+y
    print(f'The sum of two numbers is {x} and {y} is:{sum1}')


u1=int(input('Enter first number: '))
u2=int(input('Enter first number: '))

user1(u1,u2)

Enter first number:  500
Enter first number:  700

The sum of two numbers is 500 and 700 is:1200

# Variables

 * __The input to a funciton is called formal parameter.__
 * __A variable that is declared inside a function is called a local vairable.__
 * __The parameter only exists within the function(i.e. the point where the function starts and stops).__
 * __A variable that is declared outside a funciton definition is called global variable and its value is accessibel modifiable thoughout the program.__

In [53]:
def user1(x,y):
    sum1=x+y
    print(f'The sum of two numbers is {x} and {y} is:{sum1}')


# u1=int(input('Enter first number: '))
# u2=int(input('Enter first number: '))

user1(200,400)    # formal parameter

The sum of two numbers is 200 and 400 is:600

In [57]:
def user1(x):
    second_val=230   # y is a local variable
    sum1=x+second_val
    print(f'The sum of two numbers is {x} and {second_val} is:{sum1}')


# u1=int(input('Enter first number: '))
# u2=int(input('Enter first number: '))

user1(200)

The sum of two numbers is 200 and 230 is:430

In [58]:
second_val

NameError: name 'second_val' is not defined

In [59]:
x=500   # x is a global variable
def user1():
    second_val=230   # y is a local variable
    sum1=x+second_val
    print(f'The sum of two numbers is {x} and {second_val} is:{sum1}')


# u1=int(input('Enter first number: '))
# u2=int(input('Enter first number: '))

user1()

The sum of two numbers is 500 and 230 is:730

In [60]:
x

500

In [61]:
second_val

NameError: name 'second_val' is not defined

In [7]:
def function1(x):
    y=78*x+100
    #print(y)
    return y

function1(20)

1660

In [10]:
# Global variable

a=15

y=function1(a)
print(y)

1270

In [20]:
# formal parameter:

def name(first_name='Uday',last_name=' Rasal'):   # x='Hello' default value  # formal parameter.
    y='Congratulation! '+first_name+last_name
    return y

name()

'Congratulation! Uday Rasal'

In [21]:
x=78
y=100

equation=x*y+x+y-37   # 78*100+78+100-37 = 7941

if equation>0:
    equation=6

else: equation=37

equation

6

In [22]:
x=78
y=100

equation=x*y+x+y-37   # 78*100+78+100-37 = 7941

if equation>0:
    equation='ajinkya'

else: equation=37

equation

'ajinkya'

In [23]:
x=78
y=100

equation=x*y+x+y-37   # 78*100+78+100-37 = 7941

if equation<0:
    equation=6

else: equation='Rupali'

equation

'Rupali'

In [26]:
def function(x,y):
    equation = x*y+x+y-37  # 
    if equation<0:
        equation=10

    else: equation=100
    return equation

x=0
y=20
function(x,y)

10

In [35]:
def rating_value(rating=6.0):
    if rating<=10 and rating>0:
        if rating<8:
            return f'You should not watch this movie with the rating value of {rating}'
        else: return f'You should watch this movie with the rating value of {rating}'
    else: return f'your rating should be in under 10 value and not in negative value.'


print(rating_value())
print(rating_value(10.0))
print(rating_value(-5))

You should not watch this movie with the rating value of 6.0
You should watch this movie with the rating value of 10.0
your rating should be in under 10 value and not in negative value.

In [45]:
# args and kwargs.

def function(*args):
    print('Number of elements is:',len(args))
    for i in args:
        print(i)


function('Rupali','Rasal','Ajinkya','Welcome','Number','Gurav','Akash',10,45.23,[10,20,30])
print()

Number of elements is: 10
Rupali
Rasal
Ajinkya
Welcome
Number
Gurav
Akash
10
45.23
[10, 20, 30]

In [61]:
def total(*args):
    total=0 # total variable= local
    ajinkya=0
    rupali1=100
    for i in args:
        total+=i
    return total

sum=0

print('Total of the numbers is:',total(10,20,30,40,50,60,70,80))

Total of the numbers is: 360

In [62]:
ajinkya

NameError: name 'ajinkya' is not defined

In [ ]:
sum

In [63]:
rupali

100

In [64]:
rupali1

NameError: name 'rupali1' is not defined

In [77]:
# Define a funciton regarding a dictionary function

def function2(**args):
    for key in args:
        print(key,':',args[key])

function2(Name='Ajinkya',age=20,Name1='Rupali',age1=15)

Name : Ajinkya
age : 20
Name1 : Rupali
age1 : 15

In [94]:
def addition(nlis):
    nlis.add(3.14)
    nlis.add(10)
    nlis.add(20)
    nlis.add(20)
    nlis.add(20)
    nlis.add(20)
    nlis.add(20)

x=set()
addition(x)
x

{3.14, 10, 20}

In [96]:
def addition(nlis):
    nlis.append(3.14)
    nlis.append(10)
    nlis.append(20)
    nlis.append(20)
    nlis.append(20)
    nlis.append(20)
    nlis.append(20)

x=[]
addition(x)
x

[3.14, 10, 20, 20, 20, 20, 20]